@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

canvas {
  will-change: transform;
}
